*{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-color: #F3ECE7;
}
.navbar{
    padding-left: 50px;
    padding-right: 50px;
    height: 8rem;
    font-size: 20px;
    background-color: #8F5B34 !important;
}

.navbar-brand{
    font-size: 25px;
}

.nav-item{
    padding-left: 25px;
    padding-right: 25px;
}

.jumbotron {
  padding-left: 0;
  position:relative;
  overflow:hidden;
  height: 100%;
}

.jumbotron .container {
  margin-top: 15%;
  margin-left: 15%;
  position:relative;
  z-index:2;
  background:rgba(143,91,52,0.5);
  padding:2rem;
  border:1px solid rgba(0,0,0,0.1);
  border-radius:3px;
}

@media (max-width 370px){
    .jumbotron .container{
        margin-top: 30%;
    }

}

.jumbotron-background {
  object-fit:cover;
  position:absolute;
  top:0;
  z-index:1;
  height:100%;
  filter: blur(4px);

}
