/* Put your style information here! */
.wrapper{
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    font-family:'Roboto', sans-serif;
    color: #AAABB8;


}

*{
    font-family: 'Montserrat', sans-serif;
}

p, li{
    font-size: 18px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    text-shadow: 5px 5px #464866;
    padding-top: 3%;
}

.title::before, .title:after{
  content: '';
  width: 20%;
  height: 5px;
  background: #AAABB8;
}

.head{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}


.interface{
    background-color: #AAABB8;
    color: #25274d;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 5%;
    margin-bottom:5%;
}
.interface img{
    max-width: 50%;
    max-height: 50%;
}

.interface h1 h3{
    background-color: #756b51;
}

.usericon{
    max-width: 30%;
}

.responses{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

.rcol{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: center;
}

.observations{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.ocol{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;

}
.empmap{
    max-width: 60%;

}

.pcol{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.prow{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    margin-left: 12px;
    margin-right:15px;
}

.imggrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.imggrid img{
    max-width: 300px;
    max-height: 300px;
    padding: 25px;
}
